table, th, td {
  border: 1px solid #ace;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 50px;
  font-family: Helvetica;
}

button {
  font-size: 18px;
  font-family: Helvetica;
  border-width: 3px;
  margin-top: 20px;
  padding: 5px;
  border-color: #ace;
  border-radius: 10px;
  margin-left: 110px;
}

h1 {
  margin-left: 68px;
  font-family: Helvetica;
  color: #ace;
  text-shadow:
  -1px -1px 0 #4e83d8,
  1px -1px 0 #4e83d8,
  -1px 1px 0 #4e83d8,
  1px 1px 0 #4e83d8;

}