<!DOCTYPE html>
<html>
  <head>
    <title>CSV Report Generator</title>
  </head>
  <body>
    <div>
      <p> <%= data %> </p>
    </div>
    <form action='/' method='POST'>
      <textarea name='data' rows='8' cols='60'></textarea>
      <br>
      <input type='submit'>
    </form>
  </body>
</html>